@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
    --comp-font: 'Press Start 2P', cursive;
}
.progress{
    width: 60%;
    height: 2rem;
    background-color: transparent;
    margin: auto auto;
    margin-bottom: 20px;
    color: black;
    text-align: right;
    font-family: var(--comp-font);
    font-size: 100%;
    border: 0.4rem solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0;
}

.progress-done{
    height: 110%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0;
    padding: 0;
    color: red;

}
